@using WebApp.Models
@model WebApp.Models.ErrorViewModel
@{
    ViewData["Title"] = "Lỗi";
}

<h1 class="text-danger">Lỗi.</h1>
<h2 class="text-danger">Đã xảy ra lỗi khi xử lý yêu cầu của bạn.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Mã yêu cầu:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Chế độ phát triển</h3>
<p>
    Chuyển sang môi trường <strong>Development</strong> sẽ hiển thị thông tin chi tiết hơn về lỗi đã xảy ra.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>
